.aside {
  position: sticky;
  top: 3rem;
  height: 90vh;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.aside a {
  display: inline-block;
  width: 100%;
  border-radius: var(--border-radius);
}

.aside a.active {
  font-weight: bold;
  color: var(--primary-color);
}

.aside a {
  margin: 0.5rem;
  padding: 0.25rem;
}

.aside i {
  margin-right: 0.5rem;
}

.aside button {
  margin: 0.75rem;
  width: 100%;
}
